body {

     background-color: lightyellow;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;

}
 h1{
    color: purple;
 }

p{
  color:black;
  size: 20px;
}

.box {
    background-color: palevioletred;
    border:2px solid grey;
    padding:20px;
    margin:30px auto ;
    width: 380px; ;
    border-radius:15px; 
    text-align: center;
    box-shadow: 4px 4px 10px grey; 
    transition: 0.3s;
}
.box:hover{
  background-color: lightcoral;
  transform:scale(1.05);
}
.box h2{
  color: purple;
  margin-bottom:15px ;
}
.box h1{
font-size: 26px;
color: white;
}
.box p{
  margin: 20px ;
  font-size: 18px;
}
.box img{
  width:120px;
  height: 120px;
  border-radius:50% ;
  object-fit:corver;
 border: 3px solid white;
 margin-bottom: 20px;
 display: block;
  margin: 0 auto 15px;
}

