body {

     background-color: lightyellow;
     font-family: Arial, sans-serif;
     text-align: center;

}
 h1{
    color: purple;
 }

p{
  color: green;
  size: 20px;
}

.box {
    background-color: lightgreen;
    border:3px solid red ;
    padding:20px;
    margin:30px auto ;
    width: 300px; ;
    border: radius 20px; ;
}

