body{
    font-family: Arial, sans-serif;
    text-align: center;
}
button{

    padding: 10px 20px;
    font-size: 18px;
}
 #box{
    width: 200px;
    height: 100px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
 }