body{
    background-color:lightgrey;
    text-align: center;
}

.container{
     
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card{
    
     background-color:white;
     border:3px solid black;
     padding:25px;
     width:185px ;
     border-radius:20px; 
}